<h1>Supervisors</h1>

<% @supervisors.each do |supervisor| %>
  <div class="supervisor">
    <p><%= "#{supervisor.user.name} #{supervisor.user.last_name}" %></p>
    <%= link_to 'Show Profile', supervisor_path(supervisor), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'New Supervisor', new_supervisor_path, class: 'btn btn-primary' %>
