<h1>Executive Metrics</h1>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Type of Metric</th>
      <th>Evaluation</th>
    </tr>
  </thead>
  <tbody>
    <% @executive_metrics.each do |metric| %>
      <tr>
        <td><%= metric.date %></td>
        <td><%= metric.type_of_metric %></td>
        <td><%= metric.evaluation %></td>
      </tr>
    <% end %>
  </tbody>
  
</table>
