<h1>Editing requiring user</h1>

<%= render "form", requiring_user: @requiring_user %>

<br>

<div>
  <%= link_to "Show this requiring user", @requiring_user %> |
  <%= link_to "Back to requiring users", requiring_users_path %>
</div>
