<% @executives.each do |executive| %>
  <p>
    <%= "#{executive.user.name} #{executive.user.last_name}" %><br>
    <%= link_to "Show executive", executive_path(executive), class: 'btn btn-primary' %>
  </p>
<% end %>


